body {
    font-family: sans-serif;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
div.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border: 2px solid grey;


}
main{
    width: 100%;
    max-width: 1200px;

}