
div.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;


}
header{
    padding: 1rem;
    background-color: black;
    color: white;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    
}
.searchBox{
    display: flex;
    justify-content: center;
    height: 30.9667px;
    button{
        background-color: black;
        border: 1px solid black;
        color: white;
        &:hover{
            border: 2px solid black;
            background-color: white;
            color: black;
        }
    }
    input{
        border: 1px solid black;
    }
}

h2{
    border: 2px solid black;
    padding: 1rem;
}

article{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    
    .movie-card{
        margin: 5px;
        border: 1px solid black;
        width: 32%;
        flex-direction: column;
        h3, a{
            padding-left: 5px;
            
        }
        img{
            width: 100%;
            height: auto;
        }
        
    }
}
@media only screen and (max-width: 900px) {
    article{
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;  
        justify-content: space-around; 
    .movie-card{
        max-width: 230px;
        width: 100%;
        ul{
            list-style-type: none;
            padding-left: 0;
        }
        li{
            width: 100%;
        }
    }
    }
}